In [4]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [5]:
pokemon_df = pd.read_csv('pokemonscraper\pokemon.csv', sep=',')

1010 unique values for Pokedex number is expected

In [12]:
pokemon_df['Pokedex Number'].nunique()

1

In [7]:
pokemon_df[pokemon_df['Pokedex Number']==25]

,Pokedex Number,Pokemon,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Group
1139,25,Pikachu,Electric,NaN,300,35,55,30,50,40,90,1,Standard
1140,25,Cosplay Pikachu,Electric,NaN,320,35,55,40,50,50,90,1,Standard
1141,25,Pikachu in a cap,Electric,NaN,300,35,55,30,50,40,90,1,Standard
1142,25,Partner Pikachu,Electric,NaN,320,35,55,40,50,50,90,1,Standard

These entries need to be corrected

In [11]:
pokemon_df[pokemon_df['Pokedex Number']==33]

Empty DataFrame
Columns: [Pokedex Number, Pokemon, Type 1, Type 2, Total, HP, Attack, Defense, Sp. Atk, Sp. Def, Speed, Generation, Group]
Index: []

In [38]:
pokemon_df[pokemon_df['Pokedex Number']==25].drop([pokemon_df.index[1141], pokemon_df.index[1142], pokemon_df.index[1139]]).replace(['Cosplay Pikachu'], 'Pikachu')

,Pokedex Number,Pokemon,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Group
1140,25,Pikachu,Electric,NaN,320,35,55,40,50,50,90,1,Standard

In [83]:
pokemon_df[pokemon_df['Pokedex Number']==555]

,Pokedex Number,Pokemon,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Group
503,555,Darmanitan Standard Mode,Fire,NaN,480,105,140,55,30,55,95,5,Standard
504,555,Darmanitan Galarian Standard Mode,Ice,NaN,480,105,140,55,30,55,95,5,Regional Form
505,555,Darmanitan Zen Mode,Fire,Psychic,540,105,30,105,140,105,55,5,Standard
506,555,Darmanitan Galarian Zen Mode,Ice,Fire,540,105,160,55,30,55,135,5,Regional Form

In [8]:
pokemon_df = pokemon_df[pokemon_df['Pokedex Number']==25].drop([pokemon_df.index[1141], pokemon_df.index[1142], pokemon_df.index[1139]]).replace(['Cosplay Pikachu'], 'Pikachu')

In [9]:
dar1 = pokemon_df.loc[pokemon_df['Pokemon'] == 'Darmanitan Galarian Standard Mode'].index[0]
dar2 = pokemon_df.loc[pokemon_df['Pokemon'] == 'Darmanitan Galarian Zen Mode'].index[0]
dar3 = pokemon_df.loc[pokemon_df['Pokemon'] == 'Darmanitan Zen Mode'].index[0]
pokemon_df.loc[[dar1], ['Total', 'HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed']]=[480, 105, 140, 55, 30, 55, 95]
pokemon_df.loc[[dar2], ['Total', 'HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed']]=[540, 105, 160, 55, 30, 55, 135]
pokemon_df.loc[[dar3], ['Total', 'HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed']]=[540, 105, 30, 105, 140, 105, 55]

IndexError: index 0 is out of bounds for axis 0 with size 0

In [45]:
pokemon_df[pokemon_df['Pokedex Number']==669]

,Pokedex Number,Pokemon,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Group
377,669,Flabébé,Fairy,NaN,303,44,38,39,61,79,42,6,Standard

In [49]:
pokemon_df.sort_values(by=['Pokedex Number', 'Total'], ascending=True)

,Pokedex Number,Pokemon,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Group
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,Standard
1173,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,Standard
1171,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,Standard
1172,3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,Mega
1170,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,Standard
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9,1006,Iron Valiant,Fairy,Fighting,590,74,130,90,120,60,116,9,Paradox
8,1007,Koraidon Apex Build,Fighting,Dragon,670,100,135,115,85,100,135,9,"Legendary,Paradox"
7,1008,Miraidon Ultimate Mode,Electric,Dragon,670,100,85,100,135,115,135,9,"Legendary,Paradox"
6,1009,Walking Wake,Water,Dragon,590,99,83,91,125,83,109,9,Paradox
5,1010,Iron Leaves,Grass,Psychic,590,90,130,88,70,108,104,9,Paradox

In [74]:
pokemon_df.to_csv('pokemon_cleaned.csv')

504